html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-1 {
  clip-path: polygon(25% 0, 100% 0%, 101% 70%, 66% 80%, 0% 17%);
}

.clip-path-2 {
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.radial-gradient {
  background: radial-gradient(circle, rgba(8, 105, 215, 0.571) 0%, rgba(8, 106, 215, 0) 70%);

}

.radial-gradient-2 {
  background: radial-gradient(circle, rgb(8 105 215 / 11%) 0%, rgba(8, 106, 215, 0) 70%);

}

.z-1 {
  z-index: 1;
}

svg {
  fill: currentColor;
}

.animated {
  transition: all 0.2s ease;
}